/* Put your CSS here */
.ember-application {
}

.green {
	color: green;
}

.glyphicon-user.is-awesome {
  color: #0066FF;
}

.list-group.skinny {
	max-width: 400px;
}

a .badge:hover{
  background-color: #428bca;
  text-decoration: none;
  cursor: pointer;
}

li .destroy {
	display: none;
}

li .destroy:hover {
	text-shadow: 0 0 1px #000,
				 0 0 10px rgba(199, 107, 107, 0.8);
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
}

li:hover .destroy {
	display: inline-block;
}

.active {
	font-weight: bold;
}